*{
    margin: 0%;
    padding: 0%;
    text-transform: capitalize;
}
.navb{
    background-color: teal;
}
.nm{
    color: white !important;
    text-shadow:black 1px 3px 4px !important ;
    font-family: 'Dancing Script', cursive;
    font-size: 40px !important;
}
li>a{
    font-size: 23px;
    font-weight: 400;
    color: white !important;
}
li>a:hover{
    font-weight: 600;
}
.img1{
    padding: 10px;
    border:black solid 2px;
    box-shadow: black 3px 3px 4px;
}
.hmp{
    background-color: rgb(243, 172, 172);
    border-right: red 3px solid;
}
p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
}
h2{
    font-family: 'Indie Flower', cursive;
    font-weight: 800;
    font-size: 40px;
    text-decoration: underline;
}
.prjp{
    background-color: rgb(243, 172, 172);
    border-left: red 3px solid;
}
.prjp2{
    background-color: rgb(243, 172, 172);
    border-right: red 3px solid;
}
.a{
    cursor: pointer;
    text-decoration: none !important;
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
}
.mv{
    padding: 50px;
    background-color: rgb(228, 225, 225) !important;
    border-top: black solid 1px !important;
}