*{
    margin: 0%;
    padding: 0%;
    text-transform: capitalize;
}
.nm{
    font-family: 'Dancing Script', cursive;
    font-size: 50px !important;
}
.li{
    font-size: 23px;
    font-weight: 400;
    text-shadow: rgb(150, 143, 143) 1px 3px 4px ;
}
.li:hover{
    font-weight: 600;
}
.img1{
    padding: 10px;
    border:black solid 2px;
    box-shadow: black 3px 3px 4px;
}
.hmp{
    background-color: rgb(243, 172, 172);
    border-right: red 3px solid;
}
p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
}
h2{
    font-family: 'Indie Flower', cursive;
    font-weight: 800;
    font-size: 40px;
    text-decoration: underline;
}
.prjp{
    background-color: rgb(243, 172, 172);
    border-left: red 3px solid;
}
.prjp2{
    background-color: rgb(243, 172, 172);
    border-right: red 3px solid;
}
.a{
    cursor: pointer;
    text-decoration: none !important;
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
}