*{
    margin: 0%;
    padding: 0%;
    text-transform: capitalize;
}
.navb{
    background-color: teal;
}
.nm{
    color: white !important;
    text-shadow:black 1px 3px 4px !important ;
    font-family: 'Dancing Script', cursive;
    font-size: 40px !important;
    overflow: hidden;
}
li>a{
    font-size: 23px;
    font-weight: 400;
    color: white !important;
}
li>a:hover{
    font-weight: 600;
}
.img1{
    padding: 10px;
    border:black solid 2px;
    box-shadow: black 3px 3px 4px;
}
.hmp{
    background-color:  rgb(124, 235, 235);
    border-right: rgb(1, 105, 105) 3px solid;
}
p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    overflow-y: hidden;
    color: black !important;
}
h2{
    
    font-family: 'Indie Flower', cursive;
    font-weight: 800;
    font-size: 40px;
    text-decoration: underline;
    overflow: hidden;
}
.prjp{
    background-color: rgb(124, 235, 235);
    border-left: rgb(1, 105, 105) 3px solid;
}
.prjp2{
    background-color: rgb(124, 235, 235);
    border-right: rgb(1, 105, 105) 3px solid;
}
.a{
    cursor: pointer;
    text-decoration: none !important;
    font-size: 40px;
}
.a p:hover{
    font-size: 42px !important;
    text-decoration: underline !important;
}
.pd{
    margin: 10px;
}
.card{
    box-shadow: 0px 3px 63px black;
}